VITE_CESIUM_ION_TOKEN=replace-with-your-cesium-ion-token
VITE_DEMO_VIDEO_URL=/runtime/vision-video/VF-LSU-20200624-1.mp4
VITE_DEMO_VIDEO_OVERLAY_URL=/runtime/vision-video/VF-LSU-20200624-1.overlay.json
